#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}
body{
  background-color: #fff5eb !important;
}

.App {
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}
.nav-bar-custom{
  background-color: #1c4c1b;
}

.logo{
  width: auto;
  height: 60px;
  margin-right: 15px;
}


/* JUMBOTRON CSS START*/

.jumbotron-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('/assets/images/jumbotronbackground.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust transparency as needed */
}

.jumbotron-content {
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
}

/* JUMBOTRON CSS END*/