/* FILTER CSS START*/

.css-b62m3t-container {
  width: 15%;
}

.css-13cymwt-control {
  width: 100%;
}

/* FILTER CSS END*/

/* CARD CSS START */
.card {
  border: 1px solid hsl(0, 0%, 9%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 1%, 84%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  ;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 50%;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 6%, 86%);
}

.card .card-cuisine {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 5%, 79%);
}

.card .card-city {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 83%, 9%, 0.827);
}

.card .card-cuisine {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 83%, 9%, 0.827);
}

/* CARD CSS END */