#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.App {
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}

/* FILTER CSS START*/

.css-b62m3t-container {
  width: 15%;
  margin: 20px 0 0 20px;

}

.css-13cymwt-control {
  width: 100%;
  border-width: 2px !important;
  border-color: #1c4c1a !important;
}

.css-1wy0on6 {
  display: none !important;
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}

.clear__btn {
  display: flex;
  margin: 20px 0 0 20px;
  padding: 4px 16px 4px 16px;
  background-color: #1c4c1a;
  color: white;
  border-radius: 4px;
  border-color: #1c4c1a;
  font-size: 12px;
  color: white;
}

.clear__btn:hover {
  background-color: #2a9226;
  border-color: #2a9226;
}

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .css-b62m3t-container {
    width: 25%;
  }
}

/* Small phones */

@media (max-width: 480px) {
  .css-b62m3t-container {
    width: 40%;
  }
}

/* FILTER CSS END*/

/* JUMBOTRON CSS START*/

.jumbotron-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('/assets/images/jumbotronbackground.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust transparency as needed */
}

.jumbotron-content {
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
}

/* JUMBOTRON CSS END*/