* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* CARD CSS START */
.card {
  border: 1px solid hsl(0, 0%, 9%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 1%, 84%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  ;
  display: inline-block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #161515b1;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

*/ .app {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

/* Card styling */
.card {
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 9%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #66462cd5;
  padding: 20px 20px 20px;
  margin: 30px 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}



.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30%;
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
}

.card .card-title {
  margin: 0;
  color: var(--main-text-color);
}

.card .card-cuisine,
.card .card-city {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--accent-color);
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 6%, 86%);
}

.card .card-cuisine {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 5%, 79%);
}

.card .card-city {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 83%, 9%, 0.827);
}

.card .card-cuisine {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 83%, 9%, 0.827);
}

/* CARD CSS END */