
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}









/* :root {
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
<<<<<<< HEAD
  color: var(--main-text-color, #1c4c1a);
  background-color: var(--main-background-color, #fff5eb);
=======
  color: rgba(249, 246, 246, 0.87);
  background-color: #484947;
>>>>>>> d8696d8138628252d259cbbeef1404296980b177

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-background-color: #fff5eb;
  --main-text-color: #1c4c1a;
  --accent-color: #66462c;
}

a {
  font-weight: 500;
  color: var(--accent-color, #646cff);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 600px;
  min-height: 100vh;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 100px;
  color: var(--main-text-color);
  border-top: 2px solid #66462c; 
  border-bottom: 2px solid #66462c; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #66462c;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--main-text-color);
}

button:hover {
  border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
/* CARD CSS START */
.card {
  border: 1px solid hsl(0, 0%, 9%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 1%, 84%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  ;
  display: inline-block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #161515b1;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

/* Card styling */
.card {
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 9%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #66462cd5;
  padding: 20px 20px 20px;
  margin: 30px 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}



.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30%;
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
}

.card .card-title {
  margin: 0;
  color: var(--main-text-color);
}

.card .card-cuisine,
.card .card-city {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--accent-color);
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 6%, 86%);
}

.card .card-cuisine {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 5%, 79%);
}

.card .card-city {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 83%, 9%, 0.827);
}

.card .card-cuisine {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 83%, 9%, 0.827);
}

/* CARD CSS END */
